<launch>
	<!-- Config file name-->
	<arg name="yaml_file" default="pinger_params"/>

	<!-- Pinger3 -->
    <node name="pinger3_node" pkg="acoustic_source_control" type="pinger.py" output="screen" clear_params="true" required="true" args="pinger_num=3">
    	<rosparam command="load" file="$(find acoustic_source_control)/config/$(arg yaml_file).yaml" />
    </node>
</launch>