<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="yaml_file" default="tdoa_spl_params"/>

    <node name="tdoa_spl_2mic" pkg="doa_estimation" type="tdoa_spl_2mic.py" output="screen" clear_params="true" required="true">
        <rosparam command="load" file="$(find doa_estimation)/config/$(arg yaml_file).yaml" />
    </node>
</launch>
